.heading {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  /* figma above, mine below */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
