main {
  margin-bottom: 10vh;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
